
    * {
      box-sizing: border-box;

    }
    body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      background: #ebe8e8;
    }
    #grid {
      display: grid;
      gap: 2px;
      background: #444;
      padding: 2px;
    }
    .tile {
      outline: 3px solid black;
      width: 20px;
      height: 20px;
      background: #b9b9b9;
    }
    .controls{
      width: 50%;
      padding : 3%;
      display: flex;
      justify-content: space-between;
    }